@model IEnumerable<ProjetReddit.Models.Post>;
       
@{
    ViewData["Title"] = ViewBag.Page;
}

<section class="vh-100 bg-image" style="background-color: #d9faf5;">
<h3 class="text-dark">Bienvenue, <span class="text-warning">@ViewBag.Username!</span></h3>
<table class="table">
    <thead>
        <tr>
            @if (ViewBag.Page == "Mes liens")
            {
                <th scope="col-6">Mes liens</th>

            }
            else
            {
                <th scope="col-6">Liens</th>
            }
            <th scope="col">Commentaires</th>
            <th scope="col">UpVote</th>
            <th scope="col">DownVote</th>
            @if (ViewBag.Page == "Mes liens")
            {
                <th scope="col">Action</th>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        <a href="/Home/Link?linkId=@item.Id" class="d-block text-truncate"
                        style="max-width: 550px;">@item.Descript</a>
                        Auteur: @item.User.UserName<br>
                        Date de publication : @item.PublicationDate<br>
                    </div>
                </td>
                <td>@item.Comments.Count</td>
                <td>+@item.UpVote</td>
                <td>@item.DownVote</td>
                @if (ViewBag.Page == "Mes liens")
                {
                    <td><a href="/Home/RemoveLink?linkToRemoveId=@item.Id"><img src="~/media\remove-icon.ico" alt="" width="20"
                        height="20"></a></td>
                }

            </tr>
        }

    </tbody>
</table>

</section>
